*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-content {
  display: grid;
  gap: 30px;
  grid-template-columns: 2fr 1fr;
}

.news-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.secondary-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.news-item a {
  text-decoration: none;
  color: black;
}

.news-item-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.news-item-content {
  padding: 30px;
}

.news-item-category {
  color: #1200ff;
  text-transform: uppercase;
}

.main-news .news-item {
  background-color: white;
}

.secondary-news a {
  display: flex;
}

.secondary-news .news-item-image {
  width: 120px;
  height: 80px;
}

.secondary-news .news-item-content {
  padding: 0 0 0 20px;
}

.secondary-news .news-item-title {
  font-size: 16px;
}

.video-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* .video-wrapper {
  display: flex;
  flex-direction: column-reverse;
} */

.video-wrapper:first-of-type {
  grid-column-end: span 2;
}

.video-wrapper iframe {
  width: 100%;
}

.podcast-length {
  /* display: flex;
    align-items: center;
    justify-content: center; */

  display: grid;
  place-items: center;
}

.events-list {
  margin-bottom: 30px;
}

.event-date {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: -30px;
}
.event-month-unknown {
  background-color: #ff00e9;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 10px;
  border-radius: 10px;
}

.event-day {
  background-color: white;
  color: black;
  font-size: 30px;
  padding: 6px;
}

.event-month {
  background-color: #ff00e9;
  color: white;
  padding: 4px;
  text-transform: uppercase;
  font-size: 12px;
}

.event-title {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 25px;
}

@media screen and (max-width: 1000px) {
  .page-content {
    grid-template-columns: 4fr 3fr;
  }

  .main-news {
    grid-template-columns: 1fr;
  }

  .secondary-news {
    grid-template-columns: 1fr;
  }

  /* .video-wrapper {
    grid-column-end: span 2;
  } */

  .video-wrapper {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 800px) {
  .page-content {
    grid-template-columns: 1fr;
  }

  .main-news {
    grid-template-columns: 1fr 1fr;
  }

  .secondary-news {
    grid-template-columns: 1fr 1fr;
  }

  .video-wrapper {
    grid-column-end: span 1;
  }

  .events-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .event-item:first-of-type {
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 600px) {
  .main-news {
    grid-template-columns: 1fr;
  }

  .secondary-news {
    grid-template-columns: 1fr;
  }

  .video-wrapper {
    grid-column-end: span 2;
  }

  .event-item {
    grid-column-end: span 2;
  }
}
